{% extends "_base-3.html" %} 
{% load static %} 
{% block title %}جزئیات{% endblock title %} 


{% block cover-box %}
<div class="cover-box-detail">
  <img src="{% static "picture/icdl.webp" %}" alt="" class="picture-cover-box">
</div>
{% endblock cover-box %}
  
{% block content %}
<div class="educational-seson">
  <img src="{% static "picture/picture-3.jpg" %}" alt="" class="picture-3">
  
  <div class="head-of-seson">
     <p class="p-head">سرفصل ها</p>
     <p>1. مفاهیم پایه فناوری اطلاعات و ارتباطات‌</p>
     <p>2. کار با سیستم عامل ویندوز از سرفصل های icdl</p>
     <p>3. واژه پرداز WORD</p>
     <p>4. صفحه گسترده EXCEL</p>
     <p>5. پایگاه داده ACCESS از سرفصل های icdl</p>
     <p>6. ارائه مطلب با POWER POINT</p>
     <p>7. اینترنت و پست الکترونیک (Email)</p>
     <img src="{% static "picture/picture-4.jpg" %}" alt="error"  class="picture-4">
  </div>

</div>


<div class="body-detail">
     <p>اگر تصمیم به اخذ مدرک ICDL گرفته اید و می خواهید بدانید مدرک آی سی دی ال اصلا چیست، معنای icdl، یا حتی می خواهید بنیاد جهانی icdl را بشناسید، این پست برای شما مناسب خواهد بود. در واقع سعی می کنیم کلیات جامعی از مهارت های هفتگانه کامپیوتر را با سرفصل های این آزمون مهم برای شما معرفی کنیم.

        اصلا لازم نیست که بترسید! همه ما می دانیم که کامپیوتر، اینترنت و بطور کلی دنیای IT از مباحث نسبتا نوظهور در دنیاست. کسی که به کامپیوتر و مباحث پیرامون آن آشنایی داشته باشد، قطعا در محل کار، یا بطور کلی در زندگی انسان موفق تری خواهد بود. یکی از راه هایی که نشان می دهد شما تا حد قانع کننده ای به کامپیوتر آشنا هستید، داشتن مدرک مهارت های هفتگانه (ICDL) است. ICDLیا International Computer Driving Licenseبه معنای مهارت کار با کامپیوتر می باشد.دوره ICDLیک استاندارد بین المللی در مهارت های کاربردی کامپیوتر است. پس در واقع آی سی دی ال یک گواهی نامه بین المللی است که توانایی دارندگان این گواهی نامه را در مهارت های کامپیوتری، تأیید می کند.</p>

  <h2 >icdl چیست</h2>
  <p>
     ICDL  مخفف (International Computer Driving License) یکی از معتبرترین مدرک های بین المللی شناخته شده در سطح جهانی است.داشتن  این مدرک بیانگر توانایی انجام خیلی از کارهای کامپیوتری است بنابراین یکی از ملاک های استخدام کارفرمایان داشتن مدرک ICDL  است.

آموزش ICDL از سال 1997 آغاز شد که از سوي بنياد اروپايي هدايت مي شود. بطور كلي ICDL در حوزه فناوری اطلاعات و ارتباطات شناخته می شود. مدرك ICDL هم از طرف تمام ارگان های دولتي و هم شرکت ها و کسب و کارهای کوچک و بزرگ غیر دولتی مورد تایید و نشانگر تسلط بر مهارت های کامپیوتری است.

اگر به دنبال کار هستید حتما در آگهی های استخدام متوجه اهمیت این مدرک شده اید، چون در اکثر آگهی های استخدامی داشتن مدرک ICDL  جزء شرایط استخدام است. چون ICDL  به یک مدرک استاندارد در سطح جهانی تبدیل شده، در کشورهای زیادی کاربرد دارد و آموزش داده می شود. مباحث درسی ICDL شباهت زیادی به ECDL دارد.(ECDL  همان ICDL است که در اروپا با این اسم شناخته می شود.)

در کشورهای مختلف معمولا دوره های 130 ساعته کار با رایانه برگزار می شود و بعد از برگزاری آزمون مدرک ICDL  به داوطلبانی که نمره قبولی گرفته اند اهدا می شود.

مهارت های هفتگانه ICDL شامل تسلط به 7 مهارت است
شما باید برای دریافت مدرک، به 7 مهارت کامپیوتری اینترنتی تسلط نسبی داشته باشید که البته کار سختی نیست. برای دانلود دروس مربوط به هر مهارت (کاملا رایگان) روی هر عنوان کلیک کنید:

(IT) آی تی: آشنائی با مفاهیم پایه و اساسی فناوری اطلاعات. در این مهارت به یادگیری مفاهیم اولیه فناوری اطلاعات، نرم افزار، سخت افزار، شبکه های اطلاعاتی و رایانه پرداخته می شود.
(Windows) ویندوز: آشنائی با شیوه استفاده از کامپیوتر ومدیریت فایلها. همان طور که می دانید یکی محبوب ترین و پر کاربردترین سیستم عامل ها ویندوز است؛ که به طور کلی یادگیری استفاده از ویندوز، مدیریت فایل ها و فولدرها و دیگر بخش های پر کاربرد آن آموزش داده می شود.
(Word) ورد: شیوه به کارگیری نرم افزار واژه پرداز. در مجموعه ماکروسافت آفیس (Office)، واژه پرداز ورد یکی از پرکاربردترین نرم افزارها است. در این بخش کاربران با برنامه ورد، نحوه استفاده از آن، نحوه تایپ، تنظیم و چاپ متون و اشکال مختلف آموزش می بینند.
(Excel) اکسل: شیوه کار با صفحه گسترده. یکی دیگر از نرم افزارهای مجموعه آفیس، اکسل (Excel) یا صفحه گسترده است. این نرم افزار برای محاسبات عددی، حسابرسی، نمودار و استفاده از فرمول های ریاضی استفاده می شود، که نحوه فرمول نویسی و محاسبات کامل به کاربران آموزش داده می شود.
(Access) اکسس: شیوه استفاده از نرم افزار پایگاه داده ها. از دیگر نرم افزارهای مجموعه آفیس، اکسس(Access) است، که برای مدیریت پایگاه داده استفاده می شود. در این بخش کاربران نحوه ورود اطلاعات به پایگاه داده، مدیریت پایگاه داده، ساخت کوئری و پرسشنامه را فرا می گیرند.
(Powerpoint) پاورپوینت: شیوه کار با نرم افزار ارائه مطلب. یکی از نرم افزارهای محبوب برای ارائه مطلب در مجموعه آفیس، پاورپوینت است، که معمولا دانشجوها با این نرم افزار زیاد سر و کار دارند. در این بخش کاربران با ساخت اسلاید ها و تنظیمات مختلف آن برای ارائه مطالب آشنا می شوند.
(Internet) اینترنت: اطلاعات و ارتباطات. در این بخش، کاربران با اینترنت، ارتباطات، جستجو در اینترنت و تنظیمات مختلف ویندوز و مرورگرها آشنا می شوند.
  </p>
</div>

{% endblock content %}



{% block footer %}
<footer class="footer">
  <div class="footer-content">
      <div class="footer-section about">
          <h2>درباره ما</h2>
          <p>ما یک آموزشگاه کامپیوتری هستیم که به آموزش مهارت‌های مختلف در زمینه فناوری اطلاعات و کامپیوتر می‌پردازیم.</p>
      </div>
      <div class="footer-section links">
          <h2>لینک‌های مفید</h2>
          <ul>
              <li><a href="home.html">صفحه اصلی</a></li>
              <li><a href="courses.html">دوره‌ها</a></li>
              <li><a href="contact.html">تماس با ما</a></li>
              <li><a href="about.html">درباره ما</a></li>
          </ul>
      </div>
      <div class="footer-section contact">
          <h2>تماس با ما</h2>
          <p>تلفن: ۰۱۲۳۴۵۶۷۸۹</p>
          <p>ایمیل: info@example.com</p>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2023 آموزشگاه کامپیوتری. تمامی حقوق محفوظ است.</p>
  </div>
</footer>

<script src="../script/detail.js"></script>


<!-- end-footer -->

</div >
{% endblock footer %}
  