{% extends "_base-2.html" %} {% load static %} {% block title %}دوره ها{% endblock title %} 


{% block cover-box %}
<div class="cover-box-index"></div>
{% endblock cover-box %}

{% block content %}


  





<div class="row">
  <div class="box"><a href="#"><h1>مشاهده دوره</h1></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h2>مشاهده دوره</h2></a></div>    
</div>
<div class="row">
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>    
</div>
<div class="row">
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>
  <div class="box"><a href="#"><h1>مشاهده دوره</h2></a></div>    
</div>

</div>



{% endblock content %}



{% block footer-index %}
<footer class="footer-index">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>درباره ما</h2>
      <p>ما یک آموزشگاه کامپیوتری هستیم که به آموزش مهارت‌های مختلف در زمینه فناوری اطلاعات و کامپیوتر می‌پردازیم.</p>
    </div>
    <div class="footer-section links">
      <h2>لینک‌های مفید</h2>
      <ul>
        <li><a href="home.html">صفحه اصلی</a></li>
              <li><a href="courses.html">دوره‌ها</a></li>
              <li><a href="contact.html">تماس با ما</a></li>
              <li><a href="about.html">درباره ما</a></li>
            </ul>
          </div>
          <div class="footer-section contact">
            <h2>تماس با ما</h2>
          <p>تلفن: ۰۱۲۳۴۵۶۷۸۹</p>
          <p>ایمیل: info@example.com</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 آموزشگاه کامپیوتری. تمامی حقوق محفوظ است.</p>
    </div>
  </footer>
  
  <script src="../script/index.js" defer></script>


 <!--end-footer -->
</div>
</div>
{% endblock footer-index %}
  