<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>فرم لاگین</title>
</head>
<body>
    <div class="login-container">
       
        <h2>ورود به حساب کاربری</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="username">نام کاربری</label>
                <input type="text" id="username" name="username" placeholder="نام کاربری خود را وارد کنید" required>
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <input type="password" id="password" name="password" placeholder="رمز عبور خود را وارد کنید" required>
            </div>
            <div class="form-group">
                <label for="phone">شماره تلفن</label>
                <input type="tel" id="phone" name="phone" placeholder="شماره تلفن خود را وارد کنید" required>
            </div>
            <div class="form-group">
                <label for="email">جیمیل</label>
                <input type="email" id="email" name="email" placeholder="جیمیل خود را وارد کنید" required>
            </div>
            <button type="submit">ورود</button>
        </form>
        <div class="password-recovery">
            <a href="#">بازیابی کلمه عبور</a> | 
            <a href="home.html">بازگشت به صفحه اصلی</a>
        </div>
     
    </div>
</body>
</html>